@page "{id}"
@model BookLibrary.Web.Pages.Books.BorrowModel
@{
    ViewData["Title"] = "Borrow";
}

<h2>Borrow</h2>

<form method="post">
    <div class="form-group row">
        <label asp-for="BorrowerId" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-5">
            @Html.DropDownList("BorrowerId", Model.Borrowers, null, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="BorrowDate" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-5">
            <input asp-for="BorrowDate" type ="date" value ="@Model.DateNow.ToString("yyyy-MM-dd")"class="form-control"required>
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="ReturnDate" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-5">
            <input asp-for="ReturnDate" type ="date" class="form-control">
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-5">
            <button type="submit" class="btn btn-primary">Borrow</button>
        </div>
    </div>
</form>


